body{
	margin: 2rem;
	background-color: #dec4e6;
	font-family: PT Serif;
	font-size: 14px;
}

h1{
	font-size: 38px;
	text-align: center;
	color: #ffffff;
}

.cv_link{
	appearance: none;
	text-align: center;
	font-size: 16;
}

a:link, a:visited{
	color: #cd98dd;
	text-decoration: none;
	}
a:hover, a:active{
	color: #8b44a1;
	text-decoration: none;
	}