body{
	margin: 0rem;
	margin-top: 1rem;
	background-color: #e7e7e7;
	font-family: PT Serif;
	font-size: 14px;
	padding: 0;
}

.site_title{
	font-size: 40px;
	font-family: PT Serif;
	position: fixed;
	padding: 1rem;
	padding-left: 0;
	padding-bottom: 0;
	top: 1rem;
  	left: 0;
  	width: 100%;
  	text-align: center;
	color:#000000;
	display: inline-block;
	box-sizing: border-box;
	z-index: 1;
}

.text_outer_wrapper{
	display: block;
	position: fixed;
	top: .5rem;
	margin-top: 7rem;
	bottom: 7rem;
	right: 5rem;
	width: calc(40% - 5rem);
	z-index: 10;
}

.bio_text{
	position: absolute;
	padding-top: 0rem;
	padding-left: 1rem;
	padding-right: 1rem;
	box-sizing: border-box;
}

#slideshow_container{
  position: fixed;
  width: 60%;
  left: 0;
  height: 75vh;
  top: .5rem;
  margin-top: 7rem;
  outline: none;
  display: block;
}

.image{
	position: absolute;
	max-height: 90%;
	max-width: 80%;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0);
	opacity:0;
}

.slide_radio_button:checked + .image{
  opacity: 1;
}

.slide_radio_button{
  appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #cd98dd;
  border: 1px solid #0047ff7d;
  box-sizing: border-box;
  cursor: pointer;
}

.slide_radio_button:checked{
  background-color: #000000;
}

.slide_radio_button{
  position: absolute;
  bottom: 0;
  left: 50%;
}

.slide_radio_button:nth-of-type(1){
  transform: translate(-775%, 0);
}

.slide_radio_button:nth-of-type(2){
  transform: translate(-575%, 0);
}

.slide_radio_button:nth-of-type(3){
  transform: translate(-375%, 0);
}

.slide_radio_button:nth-of-type(4){
  transform: translate(-175%, 0);
}

.slide_radio_button:nth-of-type(5){
  transform: translate(25%, 0);
}

.slide_radio_button:nth-of-type(6){
  transform: translate(225%, 0);
}

.slide_radio_button:nth-of-type(7){
  transform: translate(425%, 0);
}

.slide_radio_button:nth-of-type(8){
  transform: translate(625%, 0);
}

.cv_container{
	height: 5rem;
	width: 5rem;
	position:fixed;
	font-size: 50px;
	line-height: 5rem;
	text-align: center;
	display: block;
	top: 1rem;
  	left: 7rem;
  	background-color: #000000;
  	border: 1px solid #ffffff;
	box-sizing: border-box;
	z-index: 100;
}

.ig_container{
	height: 5rem;
	width: 5rem;
	position:fixed;
	font-size: 50px;
	line-height: 5rem;
	text-align: center;
	display: block;
	top: 1rem;
  	left: 13rem;
  	background-color: #000000;
  	border: 1px solid #ffffff;
	box-sizing: border-box;
	z-index: 100;
}

a:link, a:visited{
	color: #cd98dd;
	text-decoration: none;
	}
a:hover, a:active{
	color: #8b44a1;
	text-decoration: none;
	}

	.home_nav{
	height: 5rem;
	width: 5rem;
	position:fixed;
	font-size: 88px;
	line-height: 3.8rem;
	text-align: center;
	display: block;
	top: 1rem;
  	left: 1rem;
  	background-color: #000000;
  	border: 1px solid #ffffff;
	box-sizing: border-box;
	z-index: 100;
}