body{
	margin: 0rem;
	margin-top: 1rem;
	background-color: #dec4e6;
	font-family: PT Serif;
	font-size: 14px;
	padding: 0;
}

h1{
	font-size: 38px;
	text-align: center;
	color: #ffffff;
}

.text_outer_wrapper{
	display: inline-block;
	position: absolute;
	height: 95vh;
	width: 40%;
	padding: 0;
	top: 40%;
	right: 33%;
	transform: translate(50%, 0);
	z-index: 10;
}

.image_outer_wrapper{
	position: absolute;
	height: 95vh;
	width: 40%;
	position: inline-block;
	top: 6rem;
	left: 33%;
	transform: translate(-50%, 0);
}

.image{
	position: absolute;
	max-height: calc(100% - 8rem);
	max-width: calc(100% - 8rem);
	position: inline-block;
}

.cv_container{
	height: 5rem;
	width: 5rem;
	position:fixed;
	font-size: 50px;
	line-height: 5rem;
	text-align: center;
	display: block;
	top: 1rem;
  	left: 1rem;
  	background-color: #000000;
  	border: 1px solid #ffffff;
	box-sizing: border-box;
	z-index: 100;
}

a:link, a:visited{
	color: #cd98dd;
	text-decoration: none;
	}
a:hover, a:active{
	color: #8b44a1;
	text-decoration: none;
	}

	.home_nav{
	height: 5rem;
	width: 5rem;
	position:fixed;
	font-size: 88px;
	line-height: 3.8rem;
	text-align: center;
	display: block;
	bottom: 1rem;
  	left: 1rem;
  	background-color: #000000;
  	border: 1px solid #ffffff;
	box-sizing: border-box;
	z-index: 100;
}