body{
	background-color: #c7adc8;
	margin: 0;
	appearance: none;
	-webkit-appearance: none;
}

a:link, a:visited{
	color: #000000;
	text-decoration: none;
	}
a:hover, a:active{
	color: #ffffff;
	text-decoration: none;
	}

html{
	font-size: 16px;
}

.image_container{
	position: fixed;
	display: inline-block;
	right: 5rem;
	top: 5rem;
	bottom: 5rem;
	width: calc(69% - 5rem);
	z-index: 10;
}

.still_img{
	position: fixed;
	top: 5rem;
	bottom: 5rem;
	right: 5rem;
	left: 31%;
	height: calc(100% - 5rem);
	max-width: calc(69% - 5rem);
	object-fit: cover;
	opacity:1;
	z-index: 101;
}

.image{
	position: fixed;
	top: 5rem;
	bottom: 5rem;
	right: 5rem;
	left: 31%;
	height: calc(100% - 5rem);
	width: calc(69% - 5rem);
	object-fit: cover;
	opacity:0;
	z-index: 1000;
}

a:hover + .image{
	opacity:1;
}

h1{
	text-align: center;
	padding: 3rem;
	padding-top: 2rem;
	padding-bottom: 0;
	line-height: .5rem;
}

.site_title{
	font-size: 2.5rem;
	font-family: PT Serif;
	position: fixed;
	padding: 1rem;
	padding-left: 0;
	padding-bottom: 0;
	top: 1rem;
  	left: 5rem;
  	width: 100%;
  	text-align: left;
	color:#000000;
	background-color: #c7adc8;
	display: inline-block;
	box-sizing: border-box;
	z-index: 1;
}

.about_footer{
	position: fixed;
	display: block;
	bottom: 0;
	width:100%;
	height: 5rem;
	padding: 1rem;
	background-color: #c7adc8;
	z-index: 1;
	box-sizing: border-box;
	z-index: 100;
}

.about_text{
	position: absolute;
	font-size: 1.125rem;
	font-family: PT Serif;
	right: 4rem;
	top:2.5rem;
	padding: 1rem;
	z-index: 1000;
}

#slideshow_container{
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  padding-left: 1rem;
  outline: none;
  z-index: 99;
}

.slide_menu{
  position: fixed;
  top: 5rem;
  left: 5rem;
  bottom: 5rem;
  background-color: #dec4e6;
  text-align: left;
  width: calc(31% - 5rem);
  opacity: 0;
  z-index:1000;
  pointer-events: none;
}

.slide_menu_text{
	font-family: PT Serif;
	font-size: 1.125rem;
	line-height: 1rem;
	padding: 3rem;
	padding-top: 0;
	padding-bottom: .75rem;
	margin-top: 0;
}

.little_slide_menu_text{
	font-family: PT Serif;
	font-size: 0.875rem;
	line-height: 2rem;
	padding: 3rem;
	padding-top: 2rem;
}

.slide_radio_button:checked + .slide_menu{
  opacity: 1;
  pointer-events: auto;
}

.slide_radio_button{
  appearance: none;
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  background-color: #d4cede;
  border: 1px solid #0047ff7d;
  box-sizing: border-box;
  cursor: pointer;
}

.slide_radio_button:checked{
  background-color: #000000;
}

.slide_radio_button{
  position: absolute;
  top: 12rem;
  left: 1rem;
}

.slide_radio_button:nth-of-type(1){
  transform: translate(0, 0);
}

.slide_radio_button:nth-of-type(2){
  transform: translate(0, 200%);
}

.slide_radio_button:nth-of-type(3){
  transform: translate(0, 400%);
}

.slide_radio_button:nth-of-type(4){
  transform: translate(0, 600%);
}

.slide_menu_item_container{}

@media (max-width: 1092px){
	html{
		font-size: 22px;
	}
#slideshow_container{
  position: static;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: 6rem;
  padding-left: 1rem;
  outline: none;
  z-index: 99;
}
.slide_menu{
  position: static;
  top: 5rem;
  left: 5rem;
  bottom: 5rem;
  background-color: #dec4e6;
  text-align: left;
  width: calc(31% - 5rem);
  opacity: 0;
  z-index:1000;
}
.slide_menu_text h1{
	display: none;
}
.slide_menu_text{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 0;
}
.little_slide_menu_text{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 0;
}
.still_img{
	display: none;
}
.image{
	position: static;
	display:block;
	height: auto;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	object-fit: cover;
	opacity:1;
	z-index: 1000;
}
.image_container{
	z-index: 0;
	display: none;
}
.slide_menu_item_container{
	position: relative;
	padding-bottom: 2rem;
}
.slide_radio_button{
	display: none;
}
.about_footer{
	display: none;
}
.about_text{
	position: fixed;
}
.site_title{
	top: 0;
	left: 0;
	padding: 1rem;
	padding-top: 2rem;
	padding-left: 5rem;
}
}

@media (max-width: 645px){
	html{
		font-size: 16px;
	}
	
	@media (max-width: 530px){
	html{
		font-size: 12px;
	}

	@media (max-width: 384px){
	html{
		font-size: 11px;
	}