body{
	background-color: #fffff;
	margin: 8px;
    margin-top: 0px;
    margin-right: 50px;
    margin-bottom: 38px;
    margin-left: 50px;
    text-align: center;
}

h4{
	font-size: 15px;
}

.site_title{
	position: fixed;
	text-align: center;
	text-decoration: underline overline wavy;
	color:#000000;
	background-color: #806655
	display: block;
}

.links{
	position:fixed;
	text-align: left;
	text-decoration: none;
	display: block
}

a:link, a:visited{
	color: #000000;
	}
a:hover, a:active{
	color: #806655
	}


img{
	display: inline-block;
	width: 250px;
	border-style: dashed;
	border-width: 1px;
	border-color: #806655;
	border-radius: 3px;
	margin:45px;
}
